::-webkit-scrollbar {
    width:0px; /* Adjust the width as desired */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 2px;
  }

  .movie-row:hover {
    overflow-x: hidden; /* Show scrollbar on hover */
  }
  